In [3]:
import pandas as pd 
import matplotlib.pyplot as plt

In [10]:
url = 'https://raw.githubusercontent.com/rashida048/Datasets/master/nhanes_2015_2016.csv'
df = pd.read_csv(url)

In [13]:
df.shape

(5735, 28)

In [14]:
#exploring contents 
df.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [22]:
df.dtypes

SEQN          int64
ALQ101      float64
ALQ110      float64
ALQ130      float64
SMQ020        int64
RIAGENDR      int64
RIDAGEYR      int64
RIDRETH1      int64
DMDCITZN    float64
DMDEDUC2    float64
DMDMARTL    float64
DMDHHSIZ      int64
WTINT2YR    float64
SDMVPSU       int64
SDMVSTRA      int64
INDFMPIR    float64
BPXSY1      float64
BPXDI1      float64
BPXSY2      float64
BPXDI2      float64
BMXWT       float64
BMXHT       float64
BMXBMI      float64
BMXLEG      float64
BMXARML     float64
BMXARMC     float64
BMXWAIST    float64
HIQ210      float64
dtype: object

In [26]:
df.dtypes.value_counts()

#thus most of the values here are flots and some are int all together all are numerical values

float64    20
int64       8
Name: count, dtype: int64

### Slicing a data set

In [30]:
# dmdeduc2 NHANES variable containing a person's educational attainment).
w = df['DMDEDUC2']
x  = df.loc[: , 'DMDEDUC2']
y  = df.DMDEDUC2

In [45]:
print(df['DMDEDUC2'].max())
print(df.loc[: ,'DMDEDUC2'].max())
print(df.DMDEDUC2.max())

9.0
9.0
9.0

In [54]:
print(pd.isnull(df.DMDEDUC2).sum())
print(pd.notnull(df['DMDEDUC2']).sum())

261
5474