In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [4]:
#read datasets from url 
url = 'https://raw.githubusercontent.com/rashida048/Datasets/master/nhanes_2015_2016.csv'
df = pd.read_csv(url)
df.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,...,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,...,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,...,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,...,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

### Frequency Distrubutation

In [37]:
#frequency distributation of dmd deuc2 
print(df['DMDEDUC2'].value_counts())
print("\n")
print("**********************************")
print('values counts doest count missing values ')
print("**********************************")

print( "total sum of frequency = ", df['DMDEDUC2'].value_counts().sum())
print("shape  = " , df['DMDEDUC2'].shape[0])
print("total no of null values" , df['DMDEDUC2'].isnull().sum())
print("\nlets check ")
print('shape - dmdedu values == no of null values'  , df['DMDEDUC2'].shape[0] -df['DMDEDUC2'].value_counts().sum() == df['DMDEDUC2'].isnull().sum() )

DMDEDUC2
4.0    1621
5.0    1366
3.0    1186
1.0     655
2.0     643
9.0       3
Name: count, dtype: int64


**********************************
values counts doest count missing values
**********************************
total sum of frequency =  5474
shape  =  5735
total no of null values 261

lets check
shape - dmdedu values == no of null values True

In [44]:
df['DMDEDUC_X']  = df['DMDEDUC2'].replace(to_replace=[1 , 2 , 3 , 4 , 5  ,  7  , 9  ] ,
                       value = ["9" ,"9-11"  , "HS/GED" , "Some college/AA" , "College" , "Refused", "Don't know" ])

In [46]:
df['DMDEDUC_X'].value_counts()

DMDEDUC_X
Some college/AA    1621
College            1366
HS/GED             1186
9                   655
9-11                643
Don't know            3
Name: count, dtype: int64

In [57]:
print(df['RIAGENDR'].unique())
df['RIAGENDR'].sample(3)

[1 2]

4537    2
105     2
1772    1
Name: RIAGENDR, dtype: int64

relabel gender encoded values

In [58]:
df['RIAGENDR_X'] =df['RIAGENDR'].replace({1:'Male' , 2:'Female'})

In [59]:
df['RIAGENDR_X']

0         Male
1         Male
2         Male
3       Female
4       Female
         ...
5730    Female
5731      Male
5732    Female
5733      Male
5734    Female
Name: RIAGENDR_X, Length: 5735, dtype: object